<div>
	booking id:<br>
  <input type="text" name="bookingid" [(ngModel)]='id'>
  <br>
  <button class="btn btn-primary" (click)='getdetails(id); submitted = true' [disabled]='!id'>Get Details</button>
</div>


<table *ngIf='submitted && bookingdata'>
  <tr>
    <th>Buffet Type</th>
    <th>Booked On</th>
    <th>No of plates</th>
  </tr>
  <tr>
    <td>{{bookingdata.login}}</td>     <!-- {{bookingdata. type}}-->
    <td>{{bookingdata.bio}}</td>            <!-- {{bookingdata. date}}-->
    <td>{{bookingdata.company}}</td>           <!-- {{bookingdata.noOfPlates}}-->
  </tr>
</table>